*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #2f4365;
    color: #f3f3f3;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
header,
footer {
    width: 100%;
    display: block;
    clear: both;
}
header {
    height: 80px;
}
footer {
    padding: 2em;
    margin-top: 80px;
}
hr {
    color: #fff;
}
.main-content {
    position: relative;
    margin-top: 90px;
}
.content-wrapper {
    width: 60em;
    max-width: 100%;
    margin: 0 auto;
}
.site-title {
    margin-top: 35px;
    text-align: center;
}
.site-title-link {
    font-size: 25px;
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
}
.button {
    background-color: #666;
    color: #f3f3f3;
    padding: 5px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}
.button:hover {
    opacity: .5;
}
.button-add {
    background-color: #53a93f;
    display: block;
    font-size: 25px;
    text-align: center;
}
.button-edit {
    background-color: #0f68c8;
}
.button-details {
    background-color: #ff6a00;
}
.button-delete {
    background-color: red;
}
.button-back {
    float: right;
    margin-top: 45px;
}
.contact {
    background-color: #f3f3f3;
    color: #666;
    width: 28.75em;
    float: left;
    padding: 2em;
    margin: 10px;
}
.contact-details {
    background-color: #f3f3f3;
    color: #666;
    padding: 2em;
}
.display-field {
    margin-bottom: 20px;
    width: 100%;
}
.display-field span {
    background-color: #000;
    color: #f3f3f3;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    display: inline-block;
}
.actions {
    float: right;
    margin-top: 40px;
}
.actions-list li {
    display: inline;
    margin-left: 10px;
}
.contact p {
    font-size: 20px;
    margin-top: 10px;
}
.editor-label {
    margin-top: 20px;
    margin-bottom: 5px;
}
.editor-field input {
    width: 100%;
    height: 30px;
}
p input.button-save {
    float: left;
    margin-top: 30px;
}
.details-actions {
    margin-top: 40px;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}